* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f5f6fa;
  color: #333;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 60px;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

.logo {
  font-weight: bold;
  font-size: 1.2em;
  color: #8d8df5;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

nav ul li a:hover {
  color: #5c5cf5;
}

.signup-btn {
  background: linear-gradient(135deg, #4a4ddd 0%, #6a076d 100%);
  color: white;
  padding: 8px 18px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
}


.hero {
  background: linear-gradient(135deg, #5c5cf5, #66057e);
  color: #fff;
  text-align: center;
  padding: 60px 20px;
}

.hero h1 {
  font-size: 2.2em;
  margin: 10px 0;
}

.hero p {
  font-size: 1em;
  opacity: 0.9;
}

.icon {
  display: flex;
  justify-content: center;
  font-size: 100px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.05);
}


.split {
  background: #fff;
  padding: 50px 20px;
  display: flex;
  justify-content: center; 
}

.platform {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.2);
  background: #fff;
  max-width: 700px; 
  width: 100%;
  margin: 0 auto;
}

.left {
  background-color: #d7dcf0;
  grid-column: 1/2;
  padding: 20px;
}

.left h2, .login h2 {
  margin: 10px;
  padding: 10px;
}

.left ul {
  list-style: none;
  margin-top: 10px;
}

.left li {
  margin-bottom: 8px;
}

.left span {
  color: #4a4ddd;
  font-size: 1em;
}


.login form {
  display: flex;
  flex-direction: column;
   margin-right: 20px;
}

.login p {
  font-size: 1em;
  opacity: 0.9;
  margin-bottom: 10px;
}

.login input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: 15px;
 
}

.form-options {
  display: flex;
  justify-content: space-between;
  font-size: 0.9em;
  margin-bottom: 15px;
}

.login-btn {
  background: linear-gradient(135deg, #4a4ddd 0%, #6a076d 100%);
  color: #fff;
  border: none;
  padding: 12px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
}

.admin {
  font-size: 0.9em;
  margin-top: 10px;
}


footer {
  text-align: center;
  padding: 20px;
  background: #2e2f47;
  color: #fff;
  font-size: 0.9em;
}

footer a {
  color: #9fa9ff;
  text-decoration: none;
}


@media (max-width: 767px) {
  .navbar{
   flex-direction: column;
  }
  .platform {
    grid-template-columns: 1fr;
    max-width: 90%;
    margin: 0 auto;
    overflow: hidden;
  }

  .platform .left, 
  .platform .login {
    padding: 20px;
  }

  .hero h1 {
    font-size: 1.6em;
  }
}
